#frontend_notification
  .contentWrapper
    .message
  .info
    %span.closingCounter
      = t("frontend_notifier.closes_in")
      %span.number 10
      = t("frontend_notifier.sec")
    = image_tag "icons/close_notification.png", :id => "close_notification_ico"

#frontend_notification_content
  - if error = flash[:error] || flash[:alert]
    %span.error= error
  - elsif success = flash[:success] || flash[:notice]
    %span.success= success

#frontend_notification_error500= t("frontend_notifier.error500_text")
